@media screen and (max-width:576px) {
    html{
        font-size: 10px;
    }
    .nav-conatainer{
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

.nav-items-container{
    flex-direction: column;
    width: 60%;
   
}

.nav-btn{
    width: 100%;
    margin-top: 10px;
}
/* banner responsive */
.banner-container{
   flex-direction: column;}

.banner-content{
    width: 100%;}
.banner-img {
    width: 100%;
}
.cart-container{
    grid-template-columns: 1fr;
}
.play-game-container{
   flex-direction: column-reverse;
    
}
/* cart */
.cart-container{
    
    width: 80%;
    min-height: 300px;
    grid-template-columns:(1fr);
    gap: 20px;
}

/* games */

.play-game-container{
    flex-direction: column-reverse;
    max-height:500px;


}
.play-game-contant {
    width: 100%;
}

.play-game-img{
    width: 100%;
}
.position-img img{
    width: 100px;
    height: 100px;
}
.position-img{
    position: relative;
    bottom: 50px;
    left:160px;

}
.button-first-line{
    grid-template-columns: repeat(3,1fr);
}
    
}





