@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Work Sans;
}


/* nav styels */

.nav-conatainer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.nav-img-container{
    display: flex;
    width: 60%;
    align-items: center;
}
 
.nav-img-container img {
    width: 70px;
    height: 40px;
}

.nav-img-title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    
}
.nav-img-title > span {
    
    color: rgba(255,66,165,1);
    gap: 5px;

}
.nav-items-container{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items-container a {
text-decoration: none;
color: #3C354F;
text-align: center;
font-size: 1rem;
font-weight: 500;
}


.nav-btn{
    display: flex;
gap: 5px;
padding: 10px 20px;
border: none;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
color: #3C354F;
text-align: center;
font-size: 1rem;;
font-weight: 500;
display: flex;

}

/* banner styles */
.banner-container{
    height: 450px;
    display: flex;
    justify-self:center;
}

.banner-content{
 width: 50%;
margin: auto 0 ;
text-align: center;

}
.banner-content h3 {
 color: #0B0223;
font-size: 2.5rem;
font-weight: 600;
text-transform: uppercase;
}
.banner-content h1 {
font-size: 5.5rem;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.banner-content p {
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;

}
.banner-btn {
    text-align: center;
    padding: 10px 15px;
    border: none;
    border-radius: 35px;
    margin-top: 10px;
}
.banner-img{
    
    width: 50%;
}
.banner-img img{
    width: 80%;
    height: 100%;
}


/* cart styles */
/* cart styles */
.cart-container{
    
    width: 80%;
    margin: 10px auto;
    display: grid;
    min-height: 300px;
    grid-template-columns:repeat(4, 1fr);
    gap: 20px;
}
.cart-title{
text-align: center;
 color: #0B0223;
font-size: 2.3rem;
font-weight: 700;
margin-top: 50px;
}

.span-common {
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size:2.3rem;
font-weight: 700;
}

.cart-title-description{
    text-align: center;
   color: #534C64;
font-size: 0.8rem;
font-weight: 400;
padding-bottom: 20px;
}
.cart-box{

    width: 100%;
    min-height: 300px;
    
}



.cart-box img{
    width: 100%;
}
.cart-description{
color: #534C64;
font-size:1rem;
font-weight: 500;

}
/* single game */ 
 
.cart-box { 
    position: relative; 
    display: inline-block; 
  } 
  .watch-play { 
    display: none; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: rgb(212, 212, 212); 
    width: 150px; 
    height: 150px; 
    text-align: center; 
    font-size: 25px; 
    
  } 
  
  .watch-play-icon{ 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
     
  }  
  
  .watch-play p { 
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%)); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-weight: 600; 
  }   
  
  .cart-box:hover::before { 
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
  
    width: 100%; 
    height: 90%; 
    border-radius: 10px; 
    background-color: rgba(0, 0, 0, 0.8);  
    border: 6px solid pink;
  } 
  
  .cart-box:hover .watch-play { 
    display: block; 
    
  } 
  
  /* single game end  */

/* play game styles */
.play-game-container{
    width: 80%;
    margin: 100px auto;
    display: flex;
    max-height: 400px;
    gap: 20px;
    

   
}
.play-game-img{
    width: 60%;


}
.play-game-img>img{
    width: 70%;
    height: 100%;
}


.play-game-contant{
    width: 40%;
    align-items: center;
    margin: auto 0 ;

}
.play-game-title{
    font-size: 2.3rem;
font-weight: 700;
}
.play-game-description{
    color: #534C64;
    font-size:0.8rem;
    font-weight: 400;
    padding-top: 15px;

}
.position-img img{
    width: 200px;
    height: 200px;
}
.position-img{
   position: relative;
   bottom: 150px;
   left:290px;
}

/* button styles */

.button-line-container{
    width: 80%;
    margin: 0 auto;
    max-height: 300px;
    
}
    .button-first-line{
    display: grid;
    grid-template-columns: repeat(5,1fr);
        gap: 20px;
       
    }
    

.button-line-container  a {
    
text-decoration: none;
color: #0B0223;
font-size: 0.8rem;
font-weight: 400;


}

.singel-btn{
    
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
}



 .singel-btn:hover {
    border: 2px solid rgba(255,66,165,1);
    border-radius: 30px;
    
}


/* footer stye */
footer{
    background-color:  #0B0223;;
    height: 50vh;
    margin-top: 50px;
    
}
.footer-title{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 30px;
    gap: 10px;
}
.footer-title h3{
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
}
.footer-title span{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
}
.footer-item-containeer{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer-items{
    color: #FFF;
font-size: 1rem;
font-weight: 600;

}
.footer-icons{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 15px 0;
}
footer .fa-brands{
    color: white;
    font-size: 1.5rem;
   
}
.footer-security{
    display: flex;
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.8rem;
    font-weight: 500;
    justify-content: center;
    gap: 20px;

}

.footer-end{
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    margin: 10px;
}